header {
  background: #66bb6a;
  .wrapper {
    width: 1024px;
    margin: 0 auto;

    .home-login, .home-link {
      display: flex;

      .header-link {
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        display: block;
      }

      .active-link {
        color: #66bb6a;
        background: #ffffff;
      }

      .button-exit {
        padding: 10px 15px;
        color: #ffffff;
        background: inherit;
        border: none;
        font-size: 16px;
        outline: none;
        cursor: pointer;
        margin-left: auto;

        &:hover {
          color: #66bb6a;
          background: #ffffff;
        }
      }
    }
  }
}

